blockquote {
    border-left: 5px solid #496a81;
    padding-left: 1.5em;
    color: #496a81;
    h2 {
        margin-bottom: 1em;
        font-weight: 300;
    }
}

p {
    color: #303030;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.95em;
}

.focus-area {
    color: #55aadd;
    text-decoration: underline;
}
