.entry{
    width: 100%;
    background-color: #f0f0f0;
    padding: 2em;

    h4 {
        font-size: 32px;
        margin-bottom: 0em;
    }
    .employment-time {
        color: #858585;
        font-weight: 200;
    }
}
