* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    @media screen and (max-width: 991px) {
        margin-top: 3em;
    }
}

.info {
    @media screen and (max-width: 991px) {
        position: sticky;
        z-index: 1;
        top: 3.55em;
    }
}

.section {
    margin-left: 190px;

    &.full-screen {
        height: 100vh;
    }

    @media screen and (max-width: 991px) {
        margin-left: 0;
    }

    .section-margin {
        margin-left: 1em;
    }
}

@media screen and (max-width: 991px) {
    .section {
        margin-left: 0;
    }
}

.text {
    margin: 4em 2.5em;
}

body {
    // TODO: Have font part of assets
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    background: url(../src/assets/images/bg.png) repeat;
}

a {
    color: #333;
    text-decoration: none;
}
